{% load static %}
<html>
  <head>
    <title>Buy Item 1</title>
  </head>
  <body>
    <h1>Item {{item.id}} - {{item.name}}</h1>
    <p>{{item.description}}</p>
    <p>Price: {{item.price}}</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'secrtet.js' %}"></script>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        console.log('test')
        fetch('/buy/1', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session_id }))
      });
    </script>
  </body>
</html>
